@using WeatherApp.Controllers;

<!DOCTYPE html>


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Weather by Zip Code</title>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.FlatlyTheme.css" media="screen" />
        <link rel="stylesheet" href="~/lib/datepicker/css/bootstrap-datepicker.min.css" media="screen" />
        <link rel="stylesheet" href="~/lib/Switch/bootstrap-Switch.css" media="screen" />
        <link rel="stylesheet" href="~/css/site.css" media="screen" />
    </head>
    <body>

        <div>
            @RenderBody()
        </div>
    </body>
</html>
