@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Simple weather forcast app based on zip code. Intial zip code is taken using a geolocator that is IP based.</p>
</br>
<p>
    The library that is used to communicate with the third party api's was modeled largely on the article found at: <br />
    https://www.c-sharpcorner.com/article/consuming-web-apis-in-asp-net-core-mvc-application/
</p>
